html, body {
  background: white;
}

a {
  color: #1F8DD6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2:first-child {
  font-size: 2em;
  margin: 0.67em 0;
}

.pure-g-r > .box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  padding: 1em;
}

.sidebar {
  text-align: right;
}

div[itemprop="articleBody"] {
  max-width: 928px;
}

@media (max-width: 767px) {
  .sidebar {
    text-align: left;
  }
}
