html, body {
  background: #fcfcfc;
  color: #444;
  font-size: 112.5%;
  line-height: 1.5;
}

h1, h2, h3 {
  letter-spacing: -1px;
}

body, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"] {
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: #1F8DD6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

pre, code {
  -ms-hyphens: none;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  hyphens: none;
}

h1, h2:first-child {
  font-size: 2rem;
  margin: 0.67em 0;
}

h3[itemprop="author"] small {
  font-weight: normal;
  font-size: 1rem;
}

q {quotes: '“' '”' '‘' '’';}
q:before {content: open-quote;}
q:after {content: close-quote;}

header p, q, blockquote {
  font-style: italic;
  font-family: "Georgia",serif;
}

#comments .me {
  background: rgba(214, 209, 31, 0.2);
}

header p {
  font-size: 1.5rem;
  letter-spacing: -0.25px;
}

p.highlight, div.p-highlight {
  border: 5px solid #ddd;
  padding: 1rem;
  margin: 2em 0;
}

div.p-highlight :first-child {
  margin-top:0;
}

div.p-highlight :last-child {
  margin-bottom:0;
}

pre, blockquote {
  color: #666;
  border-left: 5px solid #ddd;
  padding: 0.5em 1.5rem;
}

blockquote {
  line-height: 1.5rem;
  font-size: 1.1rem;
}

figure {
  background: #fff;
  margin: 2em 0;
  padding: 10px;
}

figcaption {
  text-align: center;
  font-weight: bold;
  margin:1em 0;
}

footer {
  padding: 1em 0;
}

.hide {
  display: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.pure-g-r > .box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.box {
  padding: 1rem;
}

.sidebar {
  text-align: right;
}

.comment {
  padding: .1em 1em;
}

.author {
  display: none;
}

.footnotes {
  border: 1px solid rgb(102, 102, 102);
  border-width: 1px 0 0;
  font-size: smaller;
}

#reply {
  margin-top: 2rem;
  text-align: center;
  font-size: 1.17rem;
}

div[itemprop="articleBody"], section[itemprop="comment"] {
  max-width: 928px;
}

section[itemprop="comment"] {
  overflow: hidden;
}

@media (max-width: 767px) {
  .sidebar {
    display: none;
  }
  .author {
    display: inline;
  }
  blockquote {
    margin: 0;
    padding: 0.25em 1rem;
    font-size: 1rem;
  }
  pre {
    overflow: auto;
    padding: 0.5rem;
  }
}

@media (max-width: 1023px) {
  .title .short {
    display: none;
  }
}

@media (max-width: 1590px) {
  .title .name {
    display: none;
  }
}

