<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ include.title }}</title>
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/pure-custom.css">
  <link rel="stylesheet" href="/css/custom.css">

  <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="All">
  <link rel="alternate" type="application/rss+xml" href="http://nod.newsblur.com/social/rss/173930/nod" title="Curated posts">

  <link rel="sitemap" type="application/xml" href="/sitemap.xml" title="Sitemap">
</head>

<body itemscope itemtype="http://schema.org/WebPage">
