<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ include.title }}</title>
  <meta name="google-site-verification" content="1aeoKujMEMnBFT8D7__vUQzp98yUgUd3WdcZ78ypNEk" />
  <meta name="viewport" content="width=device-width">
  <link rel="alternate" type="application/rss+xml" href="/rss.xml" title="All">
  <link rel="alternate" type="application/rss+xml" href="http://nod.newsblur.com/social/rss/173930/nod" title="Curated posts">
  <link rel="sitemap" type="application/xml" href="/sitemap-posts.xml" title="Sitemap">
  <style>
    {% include pure-custom.css %}
    {% include custom.css %}
  </style>
</head>

<body itemscope itemtype="http://schema.org/WebPage">
