---
layout: base
htmlClass: post
schema: Article
---
  <header>
    <h1 itemprop="name">{{ page.title }}</h1>
    <p itemprop="headline">{{ page.summary }}</p>
  </header>

  <div itemprop="articleBody">

    {{ content }}
  </div>

  <footer>
    <meta itemprop="url" content="http://{{ site.domain }}{{ page.url }}">
    <time datetime="{{ page.date | date: "%Y-%m-%dT%H:%M:%SZ" }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>
    <span itemprop="author" itemscope itemtype="http://schema.org/Person">
      <span class="author"> — <a itemprop="name" href="/">Théodore Biadala</a></span>
      <meta itemprop="image" content="http://{{ site.domain }}/assets/images/theodore-nod_-biadala.jpg">
    </span>
    {% if page.comments != nil %}
    <meta itemprop="discussionUrl" content="https://github.com/theodoreb/theodoreb.github.io/{{ page.comments }}">
    {% endif %}
  </footer>

  {% if page.comments != nil %}
    <section itemprop="comment">
      <h2>Comments</h2>
      <div id="comments"></div>
      <p id="reply"><strong>
        <a href="https://github.com/theodoreb/theodoreb.github.io/{{ page.comments }}" title="Reply on github issue.">Reply</a>
      </strong></p>
    </section>


    <script>
      {% include markdown.js %}
      (function (issueUrl) {
        {% include comments.js %}
      }('https://api.github.com/repos/theodoreb/theodoreb.github.io/{{ page.comments }}/comments'));
    </script>
  {% endif %}
